.header {
  display: flex;
  justify-content: space-between;

  .logo {
    outline: none;

    h1 {
      color: #91d5ff;
    }

    :hover {
      cursor: pointer;
    }
  }

  .header-menu {

    li {
      font-size: 16px;
    }

    fa-icon {
      margin-left: 10px;
    }
  }
}

::ng-deep {
  .ant-layout-header {
    padding: 0 25px;
  }
  .ant-menu-item, div, h1 {
    outline: none;
  }
  .ant-menu-item-selected {
    background-color: transparent !important;
  }
}

@media only screen and (max-width: 980px) {
  .header {
    .logo {
      h1 {
        font-size: 20px;
      }
    }

    .header-menu {
      fa-icon {
        margin-left: 0;
      }
    }
  }

  ::ng-deep {
    .ant-layout-header {
      padding: 0 0 0 20px;
    }
  }
}
