.header {
  display: flex;
  justify-content: space-between;

  .logo {
    float: left;
    outline: none;

    h1 {
      color: #91d5ff;
    }

    :hover {
      cursor: pointer;
    }
  }

  .header-menu {

    li {
      font-size: 18px;
    }

    fa-icon {
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {

  .header {
    .logo {
      h1 {
        font-size: 20px;
      }
    }

    .header-menu {
      fa-icon {
        margin-left: 0;
      }
    }
  }

  ::ng-deep {
    .ant-layout-header {
      padding: 0 0 0 20px;
    }
  }
}
