<div class="header">
  <div class="header-left">
    <div class="logo">
      <h1 routerLink="/start">Линглосс</h1>
    </div>
  </div>
  <div class="header-right">
    <ul class="header-menu" nz-menu nzTheme="dark" nzMode="horizontal">
      <li *ngIf="!user" nz-menu-item (click)="openModal()">
        <app-authorization [isVisible]="isModalVisible"></app-authorization>
        <fa-icon [icon]="faUser"></fa-icon>
      </li>
      <li nz-menu-item routerLink="disciplines">
        <span class="no-mobile">Дисциплины</span>
        <fa-icon [icon]="faBook"></fa-icon>
      </li>
      <li *ngIf="user && user.role === 'TEACHER'" nz-menu-item>
        <span class="no-mobile">Заявки на дисциплины</span>
        <fa-icon [icon]="faPlus"></fa-icon>
      </li>
      <li nz-menu-item>
        <span class="no-mobile">Сменить язык</span>
        <fa-icon [icon]="faGlobe"></fa-icon>
      </li>
      <li nz-menu-item routerLink="/about">
        <span class="no-mobile">О сервисе</span>
        <fa-icon [icon]="faInfo"></fa-icon>
      </li>
      <li nz-menu-item>
        <a href="https://t.me/khasekai" target="_blank">
          <span class="no-mobile">Контакты</span>
          <fa-icon [icon]="faTelegram"></fa-icon>
        </a>
      </li>
      <li nz-menu-item *ngIf="user" (click)="logout()">
        <span class="no-mobile">Выйти</span>
        <fa-icon [icon]="faSignOut"></fa-icon></li>
    </ul>
  </div>
</div>
