<div class="header">
  <div class="header-left">
    <div class="logo">
      <h1 routerLink="/start">Lingloss</h1>
    </div>
  </div>
  <div class="header-right">
    <a href="https://t.me/khasekai">
      <img alt="Telegram link" src="assets/icons/telegram.png" width="20" height="20"/>
    </a>
  </div>
</div>

<!--<ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">-->
<!--  <li nz-menu-item nzSelected>-->
<!--    <div>-->
<!--      <app-authorization></app-authorization>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li nz-menu-item routerLink="/preferences">Preferences</li>-->
<!--  <li nz-menu-item routerLink="/about">About</li>-->
<!--</ul>-->
