<div class="search-wrapper">
  <nz-select
    nzShowSearch
    nzSize="large"
    nzPlaceHolder="Input the discipline"
    [(ngModel)]="selectedValue"
    [nzNotFoundContent]="'No disciplines found'"
    [nzShowArrow]="false"
    [nzOptionOverflowSize]="7"
    (nzOnSearch)="search($event)"
  >
    <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.name" [nzValue]="o"></nz-option>
  </nz-select>
  <button nz-button nzType="primary" (click)="clear()"><i nz-icon nzType="close"></i></button>
  <button nz-button nzType="default" nzDanger (click)="explore()" class="search-button">
    <span *ngIf="mobile">Search</span>
    <i nz-icon nzType="search"></i>
  </button>
</div>

