<h1>Дисциплины</h1>
<div *ngIf="disciplines.length">
  <app-search-discipline></app-search-discipline>
</div>
<nz-list nzItemLayout="horizontal" nzBordered="true" nzSize="default" [nzLoading]="loading">
  <nz-list-item *ngFor="let discipline of disciplines">
    <nz-list-item-meta>
      <nz-list-item-meta-description>{{discipline.tutor}}</nz-list-item-meta-description>
      <nz-list-item-meta-title>{{discipline.name}}</nz-list-item-meta-title>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a routerLink="/disciplines/{{discipline.name}}">Просмотреть</a>
      </nz-list-item-action>
    </ul>
    <!--    <ul nz-list-item-actions>-->
    <!--      <nz-list-item-action>-->
    <!--        <a (click)="msg.success('Your application for ' + discipline.name + ' has been sent.')">Add</a>-->
    <!--      </nz-list-item-action>-->
    <!--    </ul>-->
  </nz-list-item>
  <nz-list-empty *ngIf="disciplines.length === 0"></nz-list-empty>
</nz-list>

