nz-list {
  margin-top: 30px;

  nz-list-item {
    cursor: default
  }

  nz-list-item-meta {
    display: block
  }
}

::ng-deep {
  .ant-list-item-meta-content {
    width: 100%;
    text-align: left;
    display: block;
  }
}
