<nz-layout style="min-height: 100%">
  <nz-header>
    <div class="logo">
      <h1>Lingloss</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>
        <div>
          <app-authorization></app-authorization>
        </div>
      </li>
      <li nz-menu-item>Preferences</li>
      <li nz-menu-item>About</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="250px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzTitle="My disciplines">
          <ul>
            <li *ngFor="let discipline of disciplines" nz-menu-item>{{discipline.name}}</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="User settings">
          <ul>
            <li nz-menu-item>Change password</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <h1>Lingloss - ...........</h1>
        <app-search></app-search>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <nz-footer>
    <div>Lingloss - bla bla bla. 2021</div>
  </nz-footer>
</nz-layout>
