<ngx-graph
  [showMiniMap]="false"
  [autoCenter]="true"
  [autoZoom]="true"
  [links]="[
    {
      id: 'a',
      source: 'first',
      target: 'second'
    }, {
      id: 'b',
      source: 'first',
      target: 'third'
    },
    {
      id: 'c',
      source: 'first',
      target: '4'
    }, {
      id: 'd',
      source: 'first',
      target: '5'
    }
  ]"
  [nodes]="[
    {
      id: 'first',
      label: 'A'
    }, {
      id: 'second',
      label: 'B'
    }, {
      id: 'third',
      label: 'C',
      color: 'red'
    },
    {
      id: '4',
      label: 'D',
      color: 'red'
    },
    {
      id: '5',
      label: 'E',
      color: 'red'
    }
  ]"
>
  <ng-template #nodeTemplate let-node>
    <svg:g class="node">
      <svg:rect
        [attr.width]="node.dimension.width"
        [attr.height]="node.dimension.height"
        [attr.fill]="node.color || node.data.color"
        [attr.rx]="5"
        [attr.ry]="5"
      />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2 + 3">
        {{node.label}}
      </svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>
