<nz-page-header class="site-page-header" nzTitle="{{discipline.name}}"></nz-page-header>
<p nz-typography>{{discipline.description}}</p>
<div class="card-container">
  <app-add-term></app-add-term>
  <nz-tabset>
    <nz-tab [nzTitle]="'Search in bar'">
      <app-search [discipline]="discipline"></app-search>
    </nz-tab>
    <nz-tab [nzTitle]="'Search alphabetically'">
      <app-alphabetical-list [discipline]="discipline"></app-alphabetical-list>
    </nz-tab>
    <nz-tab [nzTitle]="'Explore network'">
      <app-network [discipline]="discipline"></app-network>
    </nz-tab>
  </nz-tabset>
</div>
