<nz-page-header nzTitle="{{discipline.name}}"></nz-page-header>
<p nz-typography>{{discipline.description}}</p>
<div class="card-container" *ngIf="!mobile; else mobileContainer">
<!--  <app-add-term></app-add-term>-->
  <nz-tabset>
    <nz-tab [nzTitle]="'Поиск в строке'">
      <app-search-term [discipline]="discipline"></app-search-term>
    </nz-tab>
    <nz-tab [nzTitle]="'Поиск по алфавиту'">
      <app-alphabetical-list [discipline]="discipline"></app-alphabetical-list>
    </nz-tab>
  </nz-tabset>
</div>
<ng-template #mobileContainer>
  <ul nz-menu [nzMode]="'inline'" style="border: none">
    <li nz-submenu nzTitle="Поиск в строке">
      <app-search-term [discipline]="discipline"></app-search-term>
    </li>
    <li nz-submenu nzTitle="Поиск по алфавиту">
      <app-alphabetical-list [discipline]="discipline"></app-alphabetical-list>
    </li>
  </ul>
</ng-template>
