<div class="bordered">
  <h2>{{term.name}}</h2>
  <h3>{{term.definition}}</h3>
  <nz-list nzSplit>
    <nz-list-item *ngFor="let attribute of term.attributes">
      <div style="font-weight: bold">{{attribute.attribute}}:</div>
      <div>{{attribute.value}}</div>
    </nz-list-item>
  </nz-list>
</div>
<div *ngIf="term.subjectArea && term.subjectArea.length >0">
  <div *ngIf="!mobile; else mobileNetwork" style="height: 50%" class="bordered">
    <app-network [term]="term"></app-network>
  </div>
  <ng-template #mobileNetwork>
    <button nz-button nzType="default">Explore the network</button>
  </ng-template>
</div>
<ng-template #mobileNetwork>
  <button nz-button nzType="default">Explore the network</button>
</ng-template>
