<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <h3 *ngIf="!term.name || applicationMode">Название термина</h3>
  <nz-form-item *ngIf="!term.name || applicationMode">
    <nz-form-label>Название термина</nz-form-label>
    <nz-form-control nzErrorTip="Введите название термина">
      <input
        nz-input
        placeholder="Пожалуйста, введите название термина"
        [attr.id]="9999"
        [formControlName]="'nameControl'"
      />
    </nz-form-control>
  </nz-form-item>
  <h3>Значения термина</h3>
  <nz-form-item *ngFor="let definitionControl of definitionControlList; let i = index">
    <i *ngIf="definitionControlList.length > 1" nz-icon nzType="minus-circle-o" class="dynamic-delete-button" style="margin-right: 3px" (click)="removeField('definition', i)"></i>
    <nz-form-label>Значение термина</nz-form-label>
    <nz-form-control nzErrorTip="Пожалуйста, введите значение термина">
      <textarea nz-input
                placeholder="Введите значение термина"
                [nzAutosize]="{ minRows: 3, maxRows: 7 }"
                [attr.id]="definitionControl.id"
                [formControlName]="definitionControl.controlInstance"></textarea>
    </nz-form-control>
  </nz-form-item>
  <h3 *ngIf="attributeValueControlList.length > 0">Атрибуты термина</h3>
  <div *ngFor="let attribute of attributeControlList; let i = index">
    <nz-form-item>
      <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField('attribute', i)"
        style="margin-right: 3px"></i>
      <nz-form-label>Название атрибута</nz-form-label>
      <nz-form-control nzErrorTip="Пожалуйста, введите название атрибута">
        <input nz-input
               placeholder="Введите название атрибута термина"
               [attr.id]="attributeControlList[i].id"
               [formControlName]="attributeControlList[i].controlInstance"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Значение атрибута</nz-form-label>
      <nz-form-control nzErrorTip="Пожалуйста, введите значение термина">
      <textarea nz-input
                placeholder="Введите значение термина"
                [nzAutosize]="{ minRows: 3, maxRows: 7 }"
                [attr.id]="attributeValueControlList[i].valueId"
                [formControlName]="attributeValueControlList[i].controlInstance"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <h3 *ngIf="subjectAreaControlList.length > 0">Предметные области</h3>
  <div *ngFor="let subjectAreaControl of subjectAreaControlList; let i = index">
    <nz-form-item>
      <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField('subjectArea', i)" style="margin-right: 3px"></i>
      <nz-form-label>Предметная область</nz-form-label>
      <nz-form-control nzErrorTip="Пожалуйста, введите название предметной области">
        <input nz-input
               placeholder="Введите название предметной области"
               [attr.id]="subjectAreaControlList[i].id"
               [formControlName]="subjectAreaControlList[i].controlInstance"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Значение термина в предметной области</nz-form-label>
      <nz-form-control nzErrorTip="Пожалуйста, введите значение термина">
      <textarea nz-input
                placeholder="Введите значение термина"
                [nzAutosize]="{ minRows: 3, maxRows: 7 }"
                [attr.id]="subjectAreaValueControlList[i].valueId"
                [formControlName]="subjectAreaValueControlList[i].controlInstance"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="validateForm.invalid || validateForm.pristine">Сохранить</button>
    </nz-form-control>
  </nz-form-item>
</form>
<div>
  <nz-button-group class="button-group">
    <button nz-button (click)="addDefinition()" nzBlock>
      <i nz-icon nzType="plus"></i>
      Значение
    </button>
    <button nz-button (click)="addAttribute()" nzBlock>
      <i nz-icon nzType="plus"></i>
      Атрибут
    </button>
    <button nz-button (click)="addSubjectArea()" nzBlock>
      <i nz-icon nzType="plus"></i>
      Предметная область
    </button>
  </nz-button-group>
</div>
