nz-layout {
  min-height: 100%;
  position: relative;

  .inner-layout {
    padding: 25px;
  }

  nz-content {
    background: #fff;
    padding: 30px;
    min-height: 280px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    .fullscreen-bg {
      display: block;
      position: absolute;
      top: 0; left:0;
      width: 100%;
      filter: brightness(2) blur(2px) opacity(50%);
    }

  }

  .empty-content {
    background-color: #777777;
  }
}

@media only screen and (max-width: 980px) {
  nz-layout {
    nz-content {
      padding: 20px 30px;
      .fullscreen-bg {
        height: 100%;
        width: unset;
      }
    }

    .inner-layout {
      padding: 10px;
    }

    ::ng-deep {
      .ant-layout-sider-zero-width-trigger {
        top: 30px;
      }
    }
  }
}
