nz-layout {
  min-height: 100%;

  .inner-layout {
    padding: 25px;
  }

  nz-content {
    background: #fff;
    padding: 30px;
    min-height: 280px;
    text-align: center;
  }

  .empty-content {
    background-color: #777777;
  }
}

@media only screen and (max-width: 600px) {
  nz-layout {
    nz-content {
      padding: 20px 30px;
    }

    .inner-layout {
      padding: 10px;
    }

    ::ng-deep {
      .ant-layout-sider-zero-width-trigger {
        top: 30px;
      }
    }
  }
}
