<nz-table [nzData]="dataSet" [nzTitle]="'Заявки на мои дисциплины'" [nzNoResult]="' '">
  <thead>
  <tr>
    <th>Название дисциплины</th>
    <th>Студент</th>
    <th>Действие</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of dataSet">
    <td>{{data.disciplineName}}</td>
    <td>{{data.studentName}}</td>
    <td>
      <a (click)="submitApplication(data)">Принять</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="cancelApplication(data)">Отклонить</a>
    </td>
  </tr>
  </tbody>
</nz-table>
