.login-form {
    display: block;
    margin: auto;
}

.check-container {
    max-width: 250px;
    float: right;
    margin-right: 100px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    margin-top: 10px;
}

h2 {
    text-align: center;
}

nz-input-group {
  min-width: 200px;
  width: 60%;
  max-width: 800px;
}
