<h2>Логин</h2>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Email</nz-form-label>
    <nz-input-group>
      <nz-form-control nzErrorTip="Пожалуйста, введите email!">
        <input type="email" nz-input formControlName="email" placeholder="Email" style="padding: 8px 8px 8px 25px;"/>
      </nz-form-control>
    </nz-input-group>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Пароль</nz-form-label>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <nz-form-control nzErrorTip="Пожалуйста, введите пароль!">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Пароль" nzBorderless>
      </nz-form-control>
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
  </nz-form-item>
</form>
<div nz-row class="check-container">
  <!--      <div nz-col [nzSpan]="12">-->
  <!--        <label nz-checkbox formControlName="remember">-->
  <!--          <span>Remember me</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div nz-col [nzSpan]="12">-->
  <!--        <a class="login-form-forgot">Forgot password</a>-->
  <!--      </div>-->
  <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="validateForm.invalid" (click)="submitForm()">
    Войти</button>
</div>
<div>{{error}}</div>

