.login-form {
    display: block;
    margin: auto;
}

.check-container {
    max-width: 250px;
    margin: auto;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    margin-top: 10px;
}

h2 {
    text-align: center;
}
